<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <partial name="_Library">

        <title>Cadastro de Alunos</title>
</head>
<body>
    <partial name="_Navigation">

        <div class="container col-md-8" style="padding: 50px">
            @RenderBody()
        </div>

        @RenderSection("Scripts", required: false)
</body>
</html>