@model IEnumerable<Cadastro.web.Models.AlunoModel>
<br/>
<br/>
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Lista de Alunos</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-action="AlunoCreate" class="btn btn-outline-primary">
                <i class="fas fa-plus"></i>Add Aluno
            </a>
        </div>
    </div>
</div>
