@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Você pode inserir dados de exemplo no banco de dados clicando <a asp-action="InitDb">aqui</a></p>
    <p>Você pode visitar a documentação da API clicando <a href="~/api/v1">aqui</a></p>
</div>
